body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: medium;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

#main{
    width: 100%;
    height: 1000px ;
    background-color: rgb(240, 235, 235);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

#main .topNav{
    width: 100%;
    height: 50px ;
    background-color: rgb(12, 167, 187);
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

#main .topNav ul li{
    text-decoration: none;
    display: inline;
    padding-left: 15px;
    padding-bottom: 25px;
}

#main .heading{
    width: 100%;
    height: 60px ;
    background-color: rgb(240, 235, 235) ;
    display: flex;
flex-direction: row;
    justify-content: space-between;
}

#main .content1{
    width: 100%;
    height: 100px ;
    background-color: rgb(240, 235, 235) ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#main .content1 div{
    width: 24%;
    height: 90px ;
    background-color: white;
    display: flex;
    flex-direction: row;
}
#main .content1 div p{
width: 75%;
height: 90px;
color: black;
font-size: medium;
margin-left: 10px;
}


#main .content1 div img{
    width: 25%;
    height: 90px ;
}
#main .content2{
    width: 98%;
    height: 300px ;
    background-color: white ;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    border-top: solid 5px rgb(209, 207, 207);
    display: flex;
    flex-direction: column;
}

#main .content2 .content21{
    width: 100%;
    height: 30px ;
    background-color: white ;
    justify-content: flex-start;
    border-bottom: solid 2px rgb(209, 207, 207);
}

#main .content2 .content22{
    width: 100%;
    height: 200px ;
    background-color: white ;
display: flex;
    flex-direction: row;
    border-bottom: solid 2px rgb(209, 207, 207);
    justify-content: space-between;
}

#main .content2 .content22 img{
    width: 50%;
    height: 200px ;
}

#main .content2 .content22 div{
    width: 40%;
    height: 200px ;
}
#main .content2 .content23{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
}

#main .content2 .content23 div{
    width: 25%;
    height: 70px;
}

/* #main .content2 .content23{
    display: flex;
    flex-direction: row;
} */

#main .content3{
    width: 100%;
    height: 350px ;
    background-color: rgb(240, 235, 235) ;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#main .content3 .content31{
    width: 60%;
    height: 350px ;
    background-color: white ;
    border-top: solid 5px green;
    display: flex;
    flex-direction: column;
}

#main .content3 .content31 .content311{
    width: 100%;
    height: 30px;
    border-bottom: solid 2px rgb(209, 207, 207);
}
#main .content3 .content31 .content312 img{
    width: 100%;
    height: 320px;
    border-bottom: solid 2px rgb(209, 207, 207); 
}

#main .content3 .content32{
    width: 36%;
    height: 350px ;
    background-color:  rgb(240, 235, 235) ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main .content3 .content32 div{
    width: 100%;
    height: 75px ;
    background-color:  white ;
    display: flex;
    flex-direction: row;
}

#main .content3 .content32 p {
    width: 80%;
    height: 75px;
    color: white;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding-left: 10px;
    
}
#main .content3 .content32 div img{
    width: 20%;
    height: 75px ;   
}

@media (max-width:1024px){
    #main .content1{
        height: 200px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #main .content1 div{
        width: 50%;
        height: 98px;
    }
}

@media (max-width:960px){
    #main .content1{
        height: 200px;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #main .content1 div{
        width: 48%;
        height: 98px;
    }
}

@media (max-width:768px){
    #main .content1{
        height: 400px;
        display: flex;
        flex-direction: column;
    }
    #main .content1 div{
        width: 100%;
        height: 25%;
    }
    #main .content2{
        width: 98%;
        height: 710px ;
    }
    #main .content2 .content22{
        height: 400px;
        display: flex;
        flex-direction: column;
    }
    #main .content2 .content22 img{
        width: 100%;
    }
    
    #main .content3{
        height: 700px;
        display: flex;
        flex-direction: column;
    }
    #main .content3 .content31{
        width: 100%;
        margin-bottom: 10px;
    }
    #main .content3 .content32{
        width: 100%;
    }
    #main .content2 .content23{
        height: 280px;
    display: flex;
    flex-direction: column;
    }
    #main .content2 .content23 div{
        height: 70px;
        width: 100%;
        border-bottom: solid 1px rgb(209, 207, 207) ;
    }
}

@media (max-width:468px){
    #main .content1{
        height: 400px;
        display: flex;
        flex-direction: column;
    }
    #main .content1 div{
        width: 100%;
        height: 25%;
    }
    #main .content2{
        width: 98%;
        height: 710px ;
    }
    #main .content2 .content22{
        height: 400px;
        display: flex;
        flex-direction: column;
    }
    #main .content2 .content22 img{
        width: 100%;
    }
    
    #main .content3{
        height: 700px;
        display: flex;
        flex-direction: column;
    }
    #main .content3 .content31{
        width: 100%;
        margin-bottom: 10px;
    }
    #main .content3 .content32{
        width: 100%;
    }
    #main .content2 .content23{
        height: 280px;
    display: flex;
    flex-direction: column;
    }
    #main .content2 .content23 div{
        height: 70px;
        width: 100%;
        border-bottom: solid 1px rgb(209, 207, 207) ;
    }
}