@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Tangerine&display=swap');
@import url('https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

body {
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}


.badget-info{
    position: absolute;
  bottom: 90px;
  left: 50px;
  text-align: center;
  display: inline-grid;
  background-color: #eef7ff;
  padding: 8px 12px;
  color: #000;
  font-weight: 500px;
  font-size: xx-large;
  line-height:1em;
font-family: 'Cabin Sketch', sans-serif;
animation-duration: 3s;
animation-name: slidein;
}

.badget-info .more-info{
    display: inline-grid;
    transition: background-color 200ms ease-in-out;
    color: #000;
    font-size: x-large;
    font-family: cursive;
    animation-duration: 3s;
    animation-name: slidein;
}

.card-action {
    padding: 0% 20% !important;
}

.rating {
    display: inline-flex;
}
.rating > span:hover:before {
   content: "\2605";
   position: absolute;
}
.rating span{
      font-size: 2.7vw;
}
.btn{
    border-radius: 50px;
}

.blurb h2 {
   color: #EA1C2C;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: #f498b8;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
        
}

#mainNavbar .nav-link {
    color: white;
    animation-duration: 3s;
    animation-name: slidein;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
    
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
      
}
.alert{
    background-color:  rgb(222,192,222);
    
}
.alert-link{
    color: black;
}
.alert-link:hover{
    color: chocolate;
}
@keyframes slidein {
        from {
          margin-left: 100%;
          width: 300%; 
        }
      
        to {
          margin-left: 0%;
          width: 100%;
        }
      }


.navbar.scrolled {
    background: rgb(222,192,222);
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}


.img-fluid {
    animation: zoominoutsinglefeatured 3s  ;
}

@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(1.2,1.2);
    }
    100% {
        transform: scale(1,1);
    }
}

.card-body{
  text-align: center;
  
  background-color: #f5d9d5;
  padding: 8px 12px;
  color: black;
  font-weight: 100px;
  font-size: medium;
  line-height:1em;
font-family: 'Raleway', sans-serif;
animation: zoominoutsinglefeatured 3s  ;
}
.card-header{
    background-color:#f5d0ca ;
    color: black;
    font-size: large;
    font-weight: 300px;
    font-family: 'Cabin Sketch', sans-serif;
}
.wink{
    color:white;
}
.wink:hover{
    color: #fa020e;
}
.review{
    font-size: medium;
    font-weight: 100;
    font-family: cursive,sans-serif;
    color: #fa020e;
}
.review-span{
    font-size: medium;
    font-weight: 300;
    font-family: 'Raleway',sans-serif;
    letter-spacing: 1rem;
    color: #e4020d;
}
.award{
    font-size: large;
    font-weight:bolder;
    font-family: 'Raleway',sans-serif;
    color: #e4020d;
}